<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/css/app.css">
  <title>Trainingsdeck {% block title %}{% endblock %}</title>
  {% endblock %}
</head>
<body>
  <div class="wrapper">
    <header>
      <nav class="nav">
        <ul>
          <li class="active"><a href="#">Home</a>
            <ul class="submenu">
              <li><a href="#">Submenu 1</a></li>
              <li><a href="#">Submenu 2</a></li>
              <li><a href="#">Submenu 2</a></li>
            </ul>
          </li>
          <li><a href="#">angebot</a></li>
          <li><a href="#">team </a></li>
          <li><a href="#">konzept</a></li>
          <li><a href="#">Kontakt</a></li>
        </ul>
      </nav>
      <strong class="logo"><a href="#">Trainingsdeck</a></strong>
    </header>
    <div class="content">
      {% block content %}

      {% endblock %}
    </div>
  </div>
  <div class="footer">
    <p>Impressum</p>
    <nav>
      <ul>
        <li>
          <a href="#">ANMELDEN</a>
        </li>
        <li>
          <a href="#">Facebook</a>
        </li>
        <li>
          <a href="#">sitemap</a>
        </li>
      </ul>
    </nav>
  </div>

  <script type="text/javascript" src="/static/js/vendor.js"></script>
</body>
</html>
