/* ----- GENERAL ----- */
@font-face {
  font-family: 'Maven Pro Light';
  src: url('../fonts/mavenprolight-300-webfont.eot');
  src: url('../fonts/mavenprolight-300-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/mavenprolight-300-webfont.woff') format('woff'), url('../fonts/mavenprolight-300-webfont.ttf') format('truetype'), url('../fonts/mavenprolight-300-webfont.svg#maven_pro_light300') format('svg');
  font-weight: 300;
  font-style: normal;
}
html,
body {
  height: 100%;
}
body {
  background: #f5f5f5;
  color: #666;
  font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  min-width: 600px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Maven Pro Light', 'Open Sans', sans-serif;
  font-weight: 300;
}
h2 {
  font-size: 30px;
  line-height: 38px;
}
h3 {
  font-size: 24px;
  line-height: 32px;
}
h4 {
  font-size: 18px;
  line-height: 26px;
}
[class^="icon-"],
[class*=" icon-"] {
  background-image: url('../images/glyphicons-halflings.png');
}
/* ----- LAYOUT ----- */
.l-wrapper {
  height: auto !important;
  margin: 0 auto -49px;
  min-height: 100%;
  position: relative;
  z-index: 1;
}
.container {
  max-width: 1400px;
  width: 100%;
}
/* ----- HEADER ----- */
.submenu {
  background: url('../images/bg-submenu.png') 31px 0 no-repeat;
  float: none;
  left: 5px;
  margin: -7px 0 0;
  padding: 10px 0 0;
  position: absolute;
  top: 100%;
}
.submenu > li {
  display: block;
  float: none;
}
.submenu > li > .link {
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
  color: #FFF;
  display: block;
  height: auto;
  margin: 0;
  padding: 0;
  float: none;
}
.submenu > li > .link > span {
  background: #333333;
  border-bottom: 1px solid #333333;
  border-top: 1px solid #333333;
  display: block;
  height: 20px;
  padding: 13px 58px 12px 28px;
  white-space: nowrap;
}
.submenu > li > .link > span .icon-chevron {
  background-position: 0 -28px;
  float: right;
  margin: 4px -49px 0 0;
}
.submenu > li > .link:focus {
  color: #FFF;
}
.submenu > li > .link:focus .icon-chevron {
  background-position: 0 -28px;
}
.submenu > li:hover > .link,
.submenu > li.hover > .link {
  border-bottom-color: #4a4a4a;
  border-top-color: #000;
  color: #FFF;
  text-decoration: none;
}
.submenu > li:hover > .link > span,
.submenu > li.hover > .link > span {
  background-color: #2b2b2b;
  background-image: linear-gradient(top, #333333 0%, #2b2b2b 50%, #212121 100%);
  background-image: -o-linear-gradient(top, #333333 0%, #2b2b2b 50%, #212121 100%);
  background-image: -moz-linear-gradient(top, #333333 0%, #2b2b2b 50%, #212121 100%);
  background-image: -webkit-linear-gradient(top, #333333 0%, #2b2b2b 50%, #212121 100%);
  background-image: -ms-linear-gradient(top, #333333 0%, #2b2b2b 50%, #212121 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333333), color-stop(0.5, #2b2b2b), color-stop(1, #212121));
  border-bottom-color: #000;
  border-top-color: #4a4a4a;
}
.submenu > li:first-child > a,
.submenu > li:first-child > a > span {
  border-top: none;
}
.submenu > li:last-child > a,
.submenu > li:last-child > a > span {
  border-bottom: none;
}
.b-header {
  background-color: #f5f5f5;
  border-bottom: 1px solid #f5f5f5;
  height: 99px;
  position: relative;
  z-index: 10;
}
.b-header .container .navbar {
  margin-bottom: 0;
}
.b-header .container .navbar .navbar-inner {
  background-color: transparent;
  padding: 0;
  background-image: none;
  filter: none;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  height: 99px;
  min-height: 99px;
}
.b-header .container .navbar .navbar-inner .brand {
  background: url('../images/logo_web.jpg') center no-repeat;
  font-size: 0;
  height: 0;
  margin: 13px 11px;
  overflow: hidden;
  padding: 73px 0 0;
  width: 267px;
}
.b-header .container .navbar .navbar-inner .icon-chevron {
  background-image: url('../images/chevron.png');
  background-position: 0 0;
}
.b-header .container .navbar .navbar-inner .btn-menu {
  display: none;
  outline: none;
  float: left;
  position: relative;
}
.b-header .container .navbar .navbar-inner .btn-menu > .link {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-top: 4px solid #f5f5f5;
  color: #666;
  display: block;
  float: left;
  font-weight: normal;
  height: 20px;
  margin: 0 15px 0 22px;
  padding: 36px 0 40px;
  text-shadow: none;
  white-space: nowrap;
}
.b-header .container .navbar .navbar-inner .btn-menu.active > .link,
.b-header .container .navbar .navbar-inner .btn-menu > .link:hover,
.b-header .container .navbar .navbar-inner .btn-menu > .link:focus {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ba697f;
  outline: none;
  text-decoration: none;
}
.b-header .container .navbar .navbar-inner .btn-menu.active > .link .icon-chevron,
.b-header .container .navbar .navbar-inner .btn-menu > .link:hover .icon-chevron,
.b-header .container .navbar .navbar-inner .btn-menu > .link:focus .icon-chevron {
  background-position: 0 -14px;
}
.b-header .container .navbar .navbar-inner .btn-menu.active > .link {
  border-top-color: #ba697f;
}
.b-header .container .navbar .navbar-inner .btn-menu > .link {
  border-top-color: #ba697f;
}
.b-header .container .navbar .navbar-inner .btn-menu.collapsed > .link {
  border-top-color: #f5f5f5;
  color: #666;
}
.b-header .container .navbar .navbar-inner .btn-menu.collapsed > .link .icon-chevron {
  background-position: 0 0;
}
.b-header .container .navbar .navbar-inner .btn-menu > .link,
.b-header .container .navbar .navbar-inner .btn-menu:hover,
.b-header .container .navbar .navbar-inner .btn-menu:hover > .link {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ba697f;
  outline: none;
  text-decoration: none;
}
.b-header .container .navbar .navbar-inner .btn-menu > .link .icon-chevron,
.b-header .container .navbar .navbar-inner .btn-menu:hover .icon-chevron,
.b-header .container .navbar .navbar-inner .btn-menu:hover > .link .icon-chevron {
  background-position: 0 -14px;
}
.b-header .container .navbar .navbar-inner .u-mainmenu > li {
  float: left;
  position: relative;
}
.b-header .container .navbar .navbar-inner .u-mainmenu > li > .link {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border-top: 4px solid #f5f5f5;
  color: #666;
  display: block;
  float: left;
  font-weight: normal;
  height: 20px;
  margin: 0 15px 0 22px;
  padding: 36px 0 40px;
  text-shadow: none;
  white-space: nowrap;
}
.b-header .container .navbar .navbar-inner .u-mainmenu > li.active > .link,
.b-header .container .navbar .navbar-inner .u-mainmenu > li > .link:hover,
.b-header .container .navbar .navbar-inner .u-mainmenu > li > .link:focus {
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #ba697f;
  outline: none;
  text-decoration: none;
}
.b-header .container .navbar .navbar-inner .u-mainmenu > li.active > .link .icon-chevron,
.b-header .container .navbar .navbar-inner .u-mainmenu > li > .link:hover .icon-chevron,
.b-header .container .navbar .navbar-inner .u-mainmenu > li > .link:focus .icon-chevron {
  background-position: 0 -14px;
}
.b-header .container .navbar .navbar-inner .u-mainmenu > li.active > .link {
  border-top-color: #ba697f;
}
.b-header .container .navbar .navbar-inner .u-mainmenu > li .submenu {
  display: none;
}
.b-header .container .navbar .navbar-inner .u-mainmenu > li:hover .submenu,
.b-header .container .navbar .navbar-inner .u-mainmenu > li.hover .submenu {
  display: block;
}
.b-header .container .navbar .navbar-inner .u-langmenu {
  padding: 37px 0;
}
.b-header .container .navbar .navbar-inner .u-langmenu > li {
  margin-left: 5px;
}
.b-header .container .navbar .navbar-inner .u-langmenu > li > a {
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  border-radius: 13px;
  color: #666;
  display: block;
  height: 25px;
  line-height: 25px;
  padding: 0;
  text-align: center;
  text-shadow: none;
  width: 25px;
}
.b-header .container .navbar .navbar-inner .u-langmenu > li > a:hover {
  color: #ba697f;
}
.b-header .container .navbar .navbar-inner .u-langmenu > li.active > a {
  background-color: #ba697f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #FFF;
}
/* ----- PAGETITLE ----- */
.b-pagetitle {
  height: 200px;
  overflow: hidden;
  position: relative;
  z-index: 9;
}
.b-pagetitle .cover {
  left: 0;
  max-width: none;
  position: absolute;
  top: 0;
  z-index: -1;
}
.b-pagetitle .container {
  display: table;
  height: 100%;
  line-height: 26px;
  text-align: center;
}
.b-pagetitle .container .content {
  display: table-cell;
  color: #FFF;
  font-family: 'Maven Pro Light', 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
}
.b-pagetitle .container .content .wrap {
  margin: 0 12%;
}
.b-pagetitle .container .content p {
  margin: 0;
}
.b-pagetitle .container .content a {
  color: #ba697f;
}
/* ----- CONTENT ----- */
.b-content .container {
  max-width: 1200px;
}
.b-content .container .wrap {
  padding-bottom: 34px;
  padding-top: 34px;
}
.b-content .container .menu .wrap {
  padding-left: 57px;
}
.b-content .container .content .wrap {
  padding-left: 40px;
  padding-right: 40px;
}
.b-content .container .content .wrap > h4 {
  color: #ba697f;
  margin-bottom: 36px;
}
.b-content .container .content article {
  margin-bottom: 45px;
}
.b-content .container h4 {
  color: #333;
}
.b-content .container ul {
  list-style-type: none;
  margin-left: 0;
  padding-top: 9px;
}
.b-content .container ul > li {
  background: url('../images/bullet.png') 0 8px no-repeat;
  color: #888;
  margin-bottom: 20px;
  padding-left: 25px;
}
.b-content .container ul > li:last-child {
  margin-bottom: 0;
}
.b-content .container a {
  color: #0099cc;
}
.b-content .container p {
  margin-bottom: 20px;
}
/* ----- INDEX PAGE ----- */
.page-index {
  height: 100% !important;
  min-height: 600px;
}
.page-index .b-header {
  border-bottom-color: #FFF;
}
.page-index .b-pagetitle {
  background-color: #FFF;
  border-top: 1px solid #E3E3E3;
  height: 199px;
}
.page-index .b-pagetitle .container .content {
  color: #333;
}
.flexslider {
  margin: 0;
  background: transparent;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}
.flexslider .slides {
  height: 100%;
  position: relative;
  z-index: 1;
}
.flexslider .slides > li {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.flexslider .slides > li img {
  height: 1px;
  max-width: none;
  min-height: 100%;
}
.flexslider .caption {
  color: #FFF;
  left: 50%;
  margin: -250px 10% 0 -56px;
  position: absolute;
  top: 50%;
}
.flexslider .caption h3 {
  margin-bottom: 18px;
}
.flexslider .caption .golink {
  background-color: #333;
  color: #FFF;
  display: inline-block;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  margin-top: 19px;
  padding: 0 10px 0 16px;
  position: relative;
  white-space: nowrap;
}
.flexslider .caption .golink:after {
  background-color: transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #333;
  border-top: 15px solid transparent;
  content: "";
  display: block;
  position: absolute;
  right: -15px;
  top: 0px;
}
.flexslider .flex-control-nav {
  bottom: auto;
  top: 310px;
  z-index: 2;
}
.flexslider .flex-control-nav li {
  margin: 0 19px;
}
.flexslider .flex-control-nav li a {
  background-color: #FFF;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  height: 12px;
  width: 12px;
}
.flexslider .flex-control-nav li a:hover {
  background-color: #FFF;
}
.flexslider .flex-control-nav li a.flex-active {
  background-color: #333;
}
/* ----- FOOTER ----- */
.l-footerpush {
  height: 49px;
}
.b-footer {
  background-color: #333;
  height: 49px;
  line-height: 49px;
  position: relative;
  z-index: 2;
}
.b-footer .u-footermenu {
  margin: 0 0 0 5px;
}
.b-footer .u-footermenu > li {
  float: left;
  line-height: 49px;
  margin-right: 15px;
}
.b-footer .u-footermenu > li > a {
  color: #F5F5F5;
  display: inline;
}
.b-footer .u-footermenu > li > a:hover,
.b-footer .u-footermenu > li > a:focus {
  background-color: transparent;
  text-decoration: underline;
}
.b-footer .copyrights {
  color: #666;
  margin-right: 5px;
}
.b-footer .phone {
  color: #ba697f;
  margin-right: 5px;
  text-decoration: none;
}
/* ----- RESPONSIVE ----- */
@media screen and (max-width: 640px) {
  .l-wrapper {
    min-height: 900px;
  }
  .flexslider .caption {
    left: 0;
    margin: 0 14%;
    top: 154px;
  }
  .flexslider .caption h3 {
    font-size: 36px;
    margin-bottom: 38px;
  }
  .flexslider .caption p {
    font-size: 21px;
    line-height: 36px;
  }
  .flexslider .caption .golink {
    font-size: 18px;
    margin-top: 30px;
    padding-right: 23px;
  }
  .flexslider .caption .golink .arrow {
    margin-right: -38px;
  }
}
@media screen and (max-width: 767px) {
  body {
    padding: 0;
  }
}
@media screen and (max-width: 1085px) {
  .b-header .container .navbar .navbar-inner .btn-menu {
    display: inline;
  }
  .b-header .container .navbar .navbar-inner .nav-collapse,
  .b-header .container .navbar .navbar-inner .nav-collapse.collapse {
    height: 0;
    overflow: hidden;
    left: 289px;
    margin-top: -7px;
    position: absolute;
    top: 100px;
  }
  .b-header .container .navbar .navbar-inner .collapse.in {
    height: auto;
  }
  .b-header .container .navbar .navbar-inner .nav-collapse .nav {
    background: url('../images/bg-submenu.png') 31px 0 no-repeat;
    float: none;
    left: 5px;
    margin: -7px 0 0;
    padding: 10px 0 0;
    position: absolute;
    top: 100%;
    margin: 0;
    position: static;
  }
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li {
    display: block;
    float: none;
  }
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li > .link {
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    color: #FFF;
    display: block;
    height: auto;
    margin: 0;
    padding: 0;
    float: none;
  }
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li > .link > span {
    background: #333333;
    border-bottom: 1px solid #333333;
    border-top: 1px solid #333333;
    display: block;
    height: 20px;
    padding: 13px 58px 12px 28px;
    white-space: nowrap;
  }
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li > .link > span .icon-chevron {
    background-position: 0 -28px;
    float: right;
    margin: 4px -49px 0 0;
  }
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li > .link:focus {
    color: #FFF;
  }
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li > .link:focus .icon-chevron {
    background-position: 0 -28px;
  }
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li:hover > .link,
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li.hover > .link {
    border-bottom-color: #4a4a4a;
    border-top-color: #000;
    color: #FFF;
    text-decoration: none;
  }
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li:hover > .link > span,
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li.hover > .link > span {
    background-color: #2b2b2b;
    background-image: linear-gradient(top, #333333 0%, #2b2b2b 50%, #212121 100%);
    background-image: -o-linear-gradient(top, #333333 0%, #2b2b2b 50%, #212121 100%);
    background-image: -moz-linear-gradient(top, #333333 0%, #2b2b2b 50%, #212121 100%);
    background-image: -webkit-linear-gradient(top, #333333 0%, #2b2b2b 50%, #212121 100%);
    background-image: -ms-linear-gradient(top, #333333 0%, #2b2b2b 50%, #212121 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #333333), color-stop(0.5, #2b2b2b), color-stop(1, #212121));
    border-bottom-color: #000;
    border-top-color: #4a4a4a;
  }
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li:first-child > a,
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li:first-child > a > span {
    border-top: none;
  }
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li:last-child > a,
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li:last-child > a > span {
    border-bottom: none;
  }
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li .submenu {
    background: url('about:blank');
    left: 100%;
    margin: 0;
    padding: 0 0 0 1px;
    top: 2px;
  }
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li .submenu > li > a > span {
    padding-right: 28px;
  }
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li:first-child .submenu {
    top: 0;
  }
  .nav-collapse.in .nav {
    position: absolute;
  }
}
@media screen and (max-width: 1400px) {
  .b-pagetitle .cover {
    left: 50%;
    margin-left: -700px;
    width: 1400px;
  }
  #index-slider .slides > li img {
    left: 50%;
    margin-left: -700px;
    position: relative;
    top: 0;
    width: 1400px !important;
  }
}
@media screen and (min-width: 1400px) {
  .b-pagetitle .cover,
  #index-slider .slides img {
    width: 100%;
  }
}
/* ----- SAFARI FONTS & FIXES ----- */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  body,
  .b-header .container .navbar .navbar-inner .u-mainmenu > li > .link,
  .b-header .container .navbar .navbar-inner .btn-menu.collapsed > .link,
  .b-header .container .navbar .navbar-inner .u-langmenu > li > a,
  .b-footer .copyrights {
    text-shadow: 0 0 0 #666;
  }
  .b-header .container .navbar .navbar-inner .u-mainmenu > li.active > .link,
  .b-header .container .navbar .navbar-inner .u-mainmenu > li > .link:hover,
  .b-header .container .navbar .navbar-inner .u-mainmenu > li > .link:focus,
  .b-header .container .navbar .navbar-inner .btn-menu > .link,
  .b-header .container .navbar .navbar-inner .btn-menu:hover,
  .b-header .container .navbar .navbar-inner .btn-menu:hover > .link,
  .b-header .container .navbar .navbar-inner .u-langmenu > li.active > a,
  .page-index .b-pagetitle .container .content a,
  .b-content .container .content .wrap > h4,
  .b-footer .phone {
    text-shadow: 0 0 0 #BA697F;
  }
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li .submenu > li > a > span,
  .b-pagetitle .container .content {
    text-shadow: 0 0 0 #FFF;
  }
  .page-index .b-pagetitle .container .content,
  .b-content .container h4 {
    text-shadow: 0 0 0 #333;
  }
  .flexslider .caption {
    text-shadow: 0 0 0 #FFF;
  }
  .b-footer .u-footermenu > li > a {
    text-shadow: 0 0 0 #F5F5F5;
  }
  .b-content .container ul > li {
    text-shadow: 0 0 0 #888;
  }
}
@media screen and (max-width: 1085px) and (-webkit-min-device-pixel-ratio: 0) {
  .b-header .container .navbar .navbar-inner .u-mainmenu > li.active > .link,
  .b-header .container .navbar .navbar-inner .u-mainmenu > li > .link:hover,
  .b-header .container .navbar .navbar-inner .u-mainmenu > li > .link:focus {
    text-shadow: 0 0 0 #FFF;
  }
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li > .link > span,
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li.active > .link > span {
    padding-right: 44px;
  }
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li > .link > span .icon-chevron,
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li.active > .link > span .icon-chevron,
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li.hover > .link > span .icon-chevron,
  .b-header .container .navbar .navbar-inner .nav-collapse .nav > li .active.hover > .link > span .icon-chevron {
    margin: 0;
    display: block;
    margin-left: 100%;
    background-position: right -28px;
    position: relative;
    left: 35px;
    top: -16px;
  }
}
