<table class="tx-ms-slider" >
	<tr>
		<td>
			<f:translate key="tx_msslider_domain_model_slider.title" />
		</td>
		<td>
			{slider.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_msslider_domain_model_slider.teaser" />
		</td>
		<td>
			{slider.teaser}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_msslider_domain_model_slider.image" />
		</td>
		<td>
			{slider.image}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_msslider_domain_model_slider.link" />
		</td>
		<td>
			{slider.link}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_msslider_domain_model_slider.linktext" />
		</td>
		<td>
			{slider.linktext}
		</td>
	</tr>
</table>