/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/modules\/_mixins\.scss}line{font-family:\0000315}}
.main {
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/modules\/_mixins\.scss}line{font-family:\0000320}}
  .main:after {
    content: '';
    display: table;
    clear: both; }

@font-face {
  font-family: "Univers Light";
  src: url('/static/fonts/Univers LT W01 45 Light.eot');
  src: url('/static/fonts/Univers LT W01 45 Light.eot?#iefix') format('embedded-opentype'), url('/static/fonts/Univers LT W01 45 Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Univers Light Condensed";
  src: url('/static/fonts/Univers LT W01 47 Light Cn.eot');
  src: url('/static/fonts/Univers LT W01 47 Light Cn.eot?#iefix') format('embedded-opentype'), url('/static/fonts/Univers LT W01 47 Light Cn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Univers Bold Condensed";
  src: url('/static/fonts/Univers LT W01 67 Bold Cn.eot');
  src: url('/static/fonts/Univers LT W01 67 Bold Cn.eot?#iefix') format('embedded-opentype'), url('/static/fonts/Univers LT W01 67 Bold Cn.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Normande W01 Roman";
  src: url('/static/fonts/Normande W01 Roman.eot');
  src: url('/static/fonts/Normande W01 Roman.eot?#iefix') format('embedded-opentype'), url('/static/fonts/Normande W01 Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

/*------------------------------------*\
  base Reset
\*------------------------------------*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/vendor\/_reset\.scss}line{font-family:\000034}}
html {
  font-size: 62.5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/vendor\/_reset\.scss}line{font-family:\000037}}
body {
  margin: 0;
  color: #222222;
  font: 16px/1.34 "Univers Light Condensed", Arial, Helvetica, sans-serif;
  background: white;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/vendor\/_reset\.scss}line{font-family:\0000321}}
textarea,
input,
input[type=text],
input[type=password],
input[type=file],
input[type="image"] {
  -webkit-border-radius: 0;
  border-radius: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/vendor\/_reset\.scss}line{font-family:\0000326}}
img {
  border-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/vendor\/_reset\.scss}line{font-family:\0000330}}
a {
  text-decoration: underline;
  color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/vendor\/_reset\.scss}line{font-family:\0000334}}
  a:hover {
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/vendor\/_reset\.scss}line{font-family:\0000338}}
  a:active {
    background-color: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/vendor\/_reset\.scss}line{font-family:\0000345}}
input,
textarea,
select {
  font: 100% Arial, Helvetica, sans-serif;
  vertical-align: middle;
  color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/vendor\/_reset\.scss}line{font-family:\0000352}}
form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/vendor\/_reset\.scss}line{font-family:\0000364}}
header,
footer,
article,
section,
hgroup,
nav,
figure {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/vendor\/_reset\.scss}line{font-family:\0000368}}
figure {
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/vendor\/_reset\.scss}line{font-family:\0000375}}
button::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  padding: 0;
  border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\000031}}
body {
  background: #ececec;
  font: 12px Calibri, Arial, Helvetica, sans-serif;
  color: #87888a; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\000036}}
.pull-right {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\000037}}
.pull-left {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\000038}}
.wrapper {
  width: 900px;
  background: #fff;
  margin: 0 auto;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\0000314}}
  .wrapper:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    -webkit-box-shadow: 0px -10px 20px 0px #b8b8b8;
    box-shadow: 0px -10px 20px 0px #b8b8b8;
    border-radius: 0 0 60px 60px;
    z-index: -1; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\0000328}}
header {
  padding: 0 40px 32px 40px;
  position: relative;
  z-index: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\0000333}}
  header:after {
    content: '';
    display: block;
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\0000340}}
.logo {
  width: 239px;
  height: 46px;
  text-indent: -9999px;
  overflow: hidden;
  margin: 29px 0 0;
  display: block;
  float: left;
  background: url('../images/logo.png?1375714857'); }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\0000350}}
  .logo a {
    display: block;
    height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\0000356}}
.nav {
  float: right; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\0000359}}
  .nav > ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: table; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\0000367}}
    .nav > ul > li {
      text-transform: uppercase;
      text-align: center;
      font-size: 14px;
      line-height: 18px;
      margin: 0 4px 0 0;
      min-width: 97px;
      padding: 36px 3px 4px;
      display: table-cell;
      vertical-align: bottom; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\0000378}}
      .nav > ul > li:last-child {
        margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\0000380}}
      .nav > ul > li.active, .nav > ul > li:hover {
        background: #20912e; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\0000383}}
        .nav > ul > li.active a, .nav > ul > li:hover a {
          background: #20912e; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\0000385}}
          .nav > ul > li.active a:after, .nav > ul > li:hover a:after {
            display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\0000389}}
        .nav > ul > li.active:hover .submenu, .nav > ul > li:hover:hover .submenu {
          left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\0000393}}
      .nav > ul > li > a {
        display: inline-block;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        vertical-align: middle;
        background: #b1b3b4;
        width: 100%;
        padding: 5px;
        position: relative;
        color: #fff;
        text-decoration: none;
        min-height: 46px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003106}}
        .nav > ul > li > a:after {
          content: '';
          position: absolute;
          left: -2px;
          top: 0;
          width: 1px;
          height: 100%;
          background: #b1b3b4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003115}}
        .nav > ul > li > a:before {
          content: '';
          width: 0;
          height: 46px;
          display: inline-block;
          vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003122}}
        .nav > ul > li > a span {
          display: inline-block;
          vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003129}}
    .nav > ul .submenu {
      position: absolute;
      top: 100%;
      left: -9999px;
      background: #20912e;
      margin: 0;
      padding: 10px 15px;
      list-style: none;
      float: none;
      width: 100%;
      min-height: 100px;
      font-size: 12px;
      line-height: 16px;
      box-sizing: border-box;
      -moz-box-sizing: border-box; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003145}}
      .nav > ul .submenu li {
        float: left;
        margin: 0 5px 18px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003150}}
      .nav > ul .submenu a {
        color: #fff;
        text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003153}}
        .nav > ul .submenu a:hover {
          text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003158}}
.gallery {
  border: 6px solid #b1b3b4;
  position: relative;
  width: 808px;
  margin: 0 auto 34px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003164}}
  .gallery img {
    display: block; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003166}}
  .gallery .text-holder {
    width: 232px;
    padding: 18px 20px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
    overflow: auto;
    border-left: 4px solid #20912e;
    background: rgba(255, 255, 255, 0.7);
    color: #9c9e9f;
    font-size: 14px;
    line-height: 17px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003183}}
  .gallery h2 {
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    color: #58585a; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003190}}
  .gallery em {
    color: #58585a;
    display: block;
    margin: 0 0 17px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003196}}
  .gallery p {
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003198}}
  .gallery.type-2 {
    border: 11px solid #b1b3b4;
    width: 798px;
    margin: 0 auto 16px;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003204}}
    .gallery.type-2 .text-holder {
      display: inline-block;
      top: auto;
      right: auto;
      left: 0;
      bottom: 0;
      width: auto;
      height: auto;
      padding: 11px 15px 10px 15px;
      color: #58585a; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003218}}
.content {
  padding: 0 40px 40px;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003223}}
.title-post {
  overflow: hidden;
  margin: 0 0 46px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003227}}
  .title-post h2 {
    float: left;
    text-transform: uppercase;
    color: #20912e;
    font-size: 14px;
    line-height: 18px;
    margin: 0 20px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003236}}
  .title-post .text-holder {
    overflow: hidden;
    font-size: 14px;
    line-height: 18px;
    color: #b1b3b4;
    position: relative;
    padding: 0 0 0 21px;
    border-left: 1px solid #b1b3b4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003246}}
  .title-post p {
    margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003248}}
.box-holder {
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003251}}
  .box-holder a {
    color: #b1b3b4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003255}}
  .box-holder .holder {
    width: 880px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003257}}
  .box-holder .heading {
    margin: 0 0 16px;
    position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003261}}
    .box-holder .heading:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background: #ececec;
      left: 0;
      bottom: 9px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003272}}
  .box-holder .box {
    float: left;
    width: 239px;
    margin: 0 52px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003278}}
  .box-holder h2 {
    font-size: 14px;
    line-height: 18px;
    color: #b1b3b4;
    text-transform: uppercase;
    margin: 0;
    padding: 0 12px 0 0;
    font-weight: normal;
    background: #fff;
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 2; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003293}}
  .box-holder img {
    display: block;
    border: 6px solid #b1b3b4;
    width: 227px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003299}}
.footer {
  width: 823px;
  margin: 0 auto;
  color: #87888a;
  text-transform: uppercase;
  padding: 19px 38px 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003306}}
  .footer a {
    color: #b1b3b4;
    text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003309}}
    .footer a:hover {
      text-decoration: underline; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003314}}
  .footer p {
    float: right;
    margin: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003319}}
  .footer nav ul {
    margin: 0;
    padding: 0;
    list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003324}}
    .footer nav ul li {
      display: inline-block;
      vertical-align: top;
      padding: 0 3px 0 6px;
      background: url('../images/separator.gif?1375714857') no-repeat 0 0;
      text-transform: uppercase; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003331}}
      .footer nav ul li:first-child {
        background: none;
        padding-left: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003336}}
      .footer nav ul li a {
        color: #87888a;
        text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003339}}
        .footer nav ul li a:hover {
          text-decoration: underline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003346}}
.main {
  font-size: 12px;
  line-height: 17px;
  color: #b1b3b4;
  padding: 34px 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003353}}
  .main .sidebar {
    float: left;
    width: 137px;
    margin: 0 21px 0 0;
    padding: 3px 0 15px 0;
    border-right: 1px solid #b1b3b4; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003360}}
    .main .sidebar ul {
      font-size: 12px;
      line-height: 16px;
      text-align: right;
      margin: 0;
      padding: 0;
      list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003368}}
      .main .sidebar ul li {
        position: static;
        padding: 0 18px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003372}}
        .main .sidebar ul li a {
          color: #b1b3b4;
          text-decoration: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003375}}
          .main .sidebar ul li a:hover {
            color: #20912e; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003379}}
        .main .sidebar ul li.active a {
          color: #20912e; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003384}}
  .main .content-holder {
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003387}}
    .main .content-holder ul {
      margin: 0;
      padding: 0 0 17px;
      list-style: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003392}}
      .main .content-holder ul li {
        padding: 0 0 16px 19px;
        position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003396}}
        .main .content-holder ul li:after {
          content: '';
          position: absolute;
          width: 9px;
          height: 9px;
          background: #20912e;
          left: 0;
          top: 3px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003409}}
  .main p {
    margin: 0 0 33px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003411}}
.csc-sitemap ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 13px;
  line-height: 17px;
  font-weight: bold; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003418}}
  .csc-sitemap ul a {
    color: #87888a; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003421}}
  .csc-sitemap ul li {
    padding: 0 5px 0 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003425}}
.csc-textpic {
  padding: 0 0 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003428}}
  .csc-textpic .csc-textpic-imagewrap {
    margin: 0 20px 0 0;
    font-size: 13px;
    line-height: 17px;
    color: #87888a; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003437}}
.form-wrapper label {
  display: inline-block;
  vertical-align: middle;
  width: 120px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003442}}
.form-wrapper .control-group {
  padding: 0 0 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003446}}
.form-wrapper input[type="email"],
.form-wrapper input[type="text"] {
  margin: 0;
  padding: 0;
  background: none;
  border: 1px solid #ccc;
  width: 300px;
  font-size: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003454}}
.form-wrapper textarea {
  margin: 0;
  padding: 0;
  background: none;
  border: 1px solid #ccc;
  width: 300px;
  font-size: 12px;
  overflow: auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003463}}
.form-wrapper .controls {
  display: inline-block;
  vertical-align: middle; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003467}}
.form-wrapper .captcha-input {
  width: 100%;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003472}}
.form-wrapper .captcha label {
  display: block;
  width: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003479}}
#facebookF {
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003481}}
  #facebookF iframe {
    width: auto !important; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/home\/madeira\/dev\/trainingsdeck\/ext\/ms_skin\/layouts\/src\/app\/styles\/partials\/_layout\.scss}line{font-family:\00003483}}
#qype-widget-container {
  float: right; }
