{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block content %}
<div class="gallery">
  <img src="/static/images/img-1.gif" alt="">
  <div class="text-holder">
    <h2>TrainingsDeck</h2>
    <em>Eröffnung am 01. August!</em>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</p>
  </div>
</div>
<div class="title-post">
  <h2>STUDIOERÖFFNUNG</h2>
  <div class="text-holder">
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
  </div>
</div>
<div class="box-holder">
  <div class="holder">
    <div class="box">
      <div class="heading">
        <h2>Beispiel 01</h2>
      </div>
      <a href="#"><img src="/static/images/img-2.gif" alt=""></a>
    </div>
    <div class="box">
      <div class="heading">
        <h2>Beispiel 02</h2>
      </div>
      <a href="#"><img src="/static/images/img-3.gif" alt=""></a>
    </div>
    <div class="box">
      <div class="heading">
        <h2>Beispiel 03</h2>
      </div>
      <a href="#"><img src="/static/images/img-4.gif" alt=""></a>
    </div>
  </div>
</div>
{% endblock %}
