{% extends "base.html" %}

{% block title %}Index{% endblock %}
{% block content %}

  <section class="slide slide--1" id="slide--1" data-_start_slide_1="bottom: 0%;" data-_end_slide_1="bottom: 110%;">
    <div class="content-holder hidden">
      <h1 class="text-bg text-out-doors">
        open up the OUT doors
        <span class="text-frame text-out-doors__frame--1"></span>
      </h1>
      <span class="text-bg text-explore-outdoors">
        explore the outdoors
        <span class="text-frame text-explore-outdoors__frame--1"></span>
      </span>
      <a href="#" data-next-slide-position="start_slide_2" class="btn-scroll-next btn-scroll-next--explore-outdoors scroll-to-next" data-_start_slide_1="opacity: 1;" data-_start_slide_1-300="opacity: 0;">smart jump</a>
    </div>
  </section>

  <section class="slide slide--2" id="slide--2" data-_start_slide_2="bottom: 0%;" data-_end_slide_2="bottom: 110%;" data-_start_slide_3="" data-_end_slide_3="">
    <div class="content-holder">
      <h1 class="text-bg text-out-doors">
        open up the OUT doors
        <span class="text-fade-in" data-_start_slide_2_text_in="" data-_end_slide_2_text_in="">
          <span class="text-frame text-out-doors__frame--8"></span>
          <span class="text-frame text-out-doors__frame--7" data-_slide_2_text_in_step_1="opacity: 1" data-_slide_2_text_in_step_1-150="opacity: 0"></span>
          <span class="text-frame text-out-doors__frame--6" data-_slide_2_text_in_step_2="opacity: 1" data-_slide_2_text_in_step_2-150="opacity: 0"></span>
          <span class="text-frame text-out-doors__frame--5" data-_slide_2_text_in_step_3="opacity: 1" data-_slide_2_text_in_step_3-150="opacity: 0"></span>
          <span class="text-frame text-out-doors__frame--4" data-_slide_2_text_in_step_4="opacity: 1" data-_slide_2_text_in_step_4-150="opacity: 0"></span>
          <span class="text-frame text-out-doors__frame--3" data-_slide_2_text_in_step_5="opacity: 1" data-_slide_2_text_in_step_5-150="opacity: 0"></span>
          <span class="text-frame text-out-doors__frame--2" data-_slide_2_text_in_step_6="opacity: 1" data-_slide_2_text_in_step_6-150="opacity: 0"></span>
        </span>

        <span class="text-fade-out" data-_start_slide_2_text_out="" data-_end_slide_2_text_out="">
          <span class="text-frame text-out-doors__frame--2" data-_slide_2_text_out_step_1="opacity: 1"  data-_slide_2_text_out_step_1-150="opacity: 0"></span>
          <span class="text-frame text-out-doors__frame--3" data-_slide_2_text_out_step_2="opacity: 1"  data-_slide_2_text_out_step_2-150="opacity: 0"></span>
          <span class="text-frame text-out-doors__frame--4" data-_slide_2_text_out_step_3="opacity: 1"  data-_slide_2_text_out_step_3-150="opacity: 0"></span>
          <span class="text-frame text-out-doors__frame--5" data-_slide_2_text_out_step_4="opacity: 1"  data-_slide_2_text_out_step_4-150="opacity: 0"></span>
          <span class="text-frame text-out-doors__frame--6" data-_slide_2_text_out_step_5="opacity: 1"  data-_slide_2_text_out_step_5-150="opacity: 0"></span>
          <span class="text-frame text-out-doors__frame--7" data-_slide_2_text_out_step_6="opacity: 1"  data-_slide_2_text_out_step_6-150="opacity: 0"></span>
          <span class="text-frame text-out-doors__frame--8" data-_slide_2_text_out_step_7="opacity: 1"  data-_slide_2_text_out_step_7-150="opacity: 0"></span>
        </span>
      </h1>
      <span class="text-bg text-explore-outdoors">
        explore the outdoors
        <span class="text-fade-in" data-_start_slide_2_text_in="" data-_end_slide_2_text_in="">
          <span class="text-frame text-explore-outdoors__frame--8"></span>
          <span class="text-frame text-explore-outdoors__frame--7" data-_slide_2_text_in_step_1="opacity: 1" data-_slide_2_text_in_step_1-150="opacity: 0"></span>
          <span class="text-frame text-explore-outdoors__frame--6" data-_slide_2_text_in_step_2="opacity: 1" data-_slide_2_text_in_step_2-150="opacity: 0"></span>
          <span class="text-frame text-explore-outdoors__frame--5" data-_slide_2_text_in_step_3="opacity: 1" data-_slide_2_text_in_step_3-150="opacity: 0"></span>
          <span class="text-frame text-explore-outdoors__frame--4" data-_slide_2_text_in_step_4="opacity: 1" data-_slide_2_text_in_step_4-150="opacity: 0"></span>
          <span class="text-frame text-explore-outdoors__frame--3" data-_slide_2_text_in_step_5="opacity: 1" data-_slide_2_text_in_step_5-150="opacity: 0"></span>
          <span class="text-frame text-explore-outdoors__frame--2" data-_slide_2_text_in_step_6="opacity: 1" data-_slide_2_text_in_step_6-150="opacity: 0"></span>
        </span>
      
        <span class="text-fade-out" data-_start_slide_2_text_out="" data-_end_slide_2_text_out="">
          <span class="text-frame text-explore-outdoors__frame--2" data-_slide_2_text_out_step_1="opacity: 1"  data-_slide_2_text_out_step_1-150="opacity: 0"></span>
          <span class="text-frame text-explore-outdoors__frame--3" data-_slide_2_text_out_step_2="opacity: 1"  data-_slide_2_text_out_step_2-150="opacity: 0"></span>
          <span class="text-frame text-explore-outdoors__frame--4" data-_slide_2_text_out_step_3="opacity: 1"  data-_slide_2_text_out_step_3-150="opacity: 0"></span>
          <span class="text-frame text-explore-outdoors__frame--5" data-_slide_2_text_out_step_4="opacity: 1"  data-_slide_2_text_out_step_4-150="opacity: 0"></span>
          <span class="text-frame text-explore-outdoors__frame--6" data-_slide_2_text_out_step_5="opacity: 1"  data-_slide_2_text_out_step_5-150="opacity: 0"></span>
          <span class="text-frame text-explore-outdoors__frame--7" data-_slide_2_text_out_step_6="opacity: 1"  data-_slide_2_text_out_step_6-150="opacity: 0"></span>
          <span class="text-frame text-explore-outdoors__frame--8" data-_slide_2_text_out_step_7="opacity: 1"  data-_slide_2_text_out_step_7-150="opacity: 0"></span>
        </span>
      </span>
    </div>
    <a href="#" data-next-slide-position="start_slide_3" class="btn-scroll-next btn-scroll-next--explore-outdoors scroll-to-next" data-_start_slide_2="opacity: 1;" data-_start_slide_2-300="opacity: 0;">smart jump</a>
  </section>

  <section class="slide slide--3" id="slide--3" data-_start_slide_3="bottom: 0%;" data-_end_slide_3="">
    <span class="slide__bg slide--3__slide__bg--1" data-_end_slide_3_animations--400="opacity: 0" data-_end_slide_3_animations="opacity: 1"></span>
    <div class="content-holder">
      <h1 class="text-bg text-out-doors">
        open up the OUT doors
        <span class="text-frame text-out-doors__frame--1" data-_start_slide_3_animations="background-position: 50% 42%;" data-_end_slide_3_animations="background-position: 50% -100%;"></span>
      </h1>
      <article class="slide__text-column" data-_start_slide_3_animations="top: 1400px" data-_end_slide_3_animations="top: 143px;" data-_start_slide_3="top: 143px;" data-_end_slide_3="top: -1400px;">
        <h1 class="slide__text-column__heading">
          <strong class="slide__text-column__heading__sub-title">freiheit. schönheit. offenheit.</strong>
          <strong class="slide__text-column__heading__title">
            <span class="hidden-text">park bellevue berlin</span>
            <img src="/static/images/text/text-park-berlin.png" alt="PARK BELLEVUE BERLIN" class="img-text-replacement">
          </strong>
        </h1>
        <div class="slide__text-column__text">
          <p>Willkommen in einer weltoffenen Gesellschaft. Im Garten des Schloss Bellevue existieren keine Grenzen zwischen Raum und Freiraum.</p>
          <a href="#" class="btn-more btn-more--inverse">zum projekt</a>
        </div>
      </article>
      <div class="slide__info-block" data-_start_slide_3_animations-300="opacity: 0;"  data-_start_slide_3_animations-310="opacity: 1;" data-_start_slide_3-150="opacity: 1;" data-_start_slide_3-160="opacity: 0;">
        <span class="slide__info-block__info-btn"></span>
        <div class="slide__info-block__popup">
          <div class="slide__info-block__popup__container">
            <h2 class="slide__info-block__popup__title">
              Textile Dächer
              <strong>
                Bewegende Statik
              </strong>
            </h2>
            <p>Entdecken Sie das Zusammenspiel einer Aluminium-Bogenkonstruktion und der organischen Formsprache von High-Tech Membranen. Regenschutz für 800 Gäste inklusive.</p>
            <a href="#" class="btn-more-2 btn-more-2--inverse">mehr erfahren</a>
          </div>
        </div>
      </div>
    </div>
    <span class="decor slide--3__decor--1" data-_start_slide_3_animations="top: 0px" data-_end_slide_3_animations--500="top: -15px"></span>
    <a href="#" data-next-slide-position="start_slide_4" class="btn-scroll-next scroll-to-next"
    data-_end_slide_3_animations--10="opacity: 0"
    data-_end_slide_3_animations="opacity: 1"
    data-_start_slide_3="opacity: 1"
    data-_start_slide_3-10="opacity: 0"
    >smart jump</a>
  </section>

  <section class="slide slide--4" id="slide--4" data-_start_slide_3="bottom: -100%;" data-_end_slide_3--100="bottom: 0%;" data-_start_slide_4="" data-_end_slide_4="">
    <span class="slide__bg slide--4__slide__bg--1" data-_start_slide_4_animations="top: 0%;" data-_end_slide_3--150="top: -10%;"></span>
    <div class="content-holder">
      <article class="slide__text-column" data-_start_slide_4_animations="top: 700px;" data-_end_slide_4_animations="top: 143px;" data-_start_slide_4="top: 143px;" data-_end_slide_4="top: -1400px;">
        <h1 class="slide__text-column__heading">
          <strong class="slide__text-column__heading__sub-title">DIE RENAISSANCE DER RENAISSANCE</strong>
          <strong class="slide__text-column__heading__title">
            <span class="hidden-text">MILANO</span>
            <img src="/static/images/text/text-milano.png" alt="milano" class="img-text-replacement">
          </strong>
        </h1>
        <div class="slide__text-column__text">
          <p>Jahrhunderte elegant umspannt: In einem Mailänder Palazzo verbinden sich historische Bogengänge mit unseren innovativen Tulpenschirmen zu einer Architektur, die das Alte bewahrt und das Neue begrüßt.</p>
          <a href="#" class="btn-more btn-more--inverse">zum projekt</a>
        </div>
      </article>
      <div class="slide__info-block slide__info-block--2" data-_start_slide_4_animations-150="opacity: 0;"  data-_start_slide_4_animations-160="opacity: 1;" data-_start_slide_4-150="opacity: 1;" data-_start_slide_4-160="opacity: 0;">
        <span class="slide__info-block__info-btn"></span>
        <div class="slide__info-block__popup">
          <div class="slide__info-block__popup__container">
            <h2 class="slide__info-block__popup__title">
              TULPENSCHIRME
              <strong>
                SCHÖNHEIT ENTFALTEN
              </strong>
            </h2>
            <p>Mit Sonnenschutz, Regenschutz und Entwässerungssystem, lassen Tulpenschirme jeden Anlass zu einem Erlebnis werden, unabhängig vom Wetter.</p>
            <a href="#" class="btn-more-2 btn-more-2--inverse">mehr erfahren</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#" data-next-slide-position="start_slide_5" class="btn-scroll-next scroll-to-next"
    data-_end_slide_4_animations--10="opacity: 0"
    data-_end_slide_4_animations="opacity: 1"
    data-_start_slide_4="opacity: 1"
    data-_start_slide_4-10="opacity: 0"
    >smart jump</a>
  </section>

  <section class="slide slide--5" id="slide--5" data-_start_slide_4="bottom: -100%;" data-_end_slide_4--100="bottom: 0%;" data-_start_slide_5="" data-_end_slide_5="">
    <span class="slide__bg slide--5__slide__bg--1" data-_start_slide_5_animations="opacity: 0" data-_end_slide_5_animations="opacity: 1"></span>
    <div class="content-holder">
      <article class="slide__text-column" data-_start_slide_5_animations="top: 700px;" data-_end_slide_5_animations="top: 143px;" data-_start_slide_5="top: 143px;" data-_end_slide_5="top: -1400px;">
        <h1 class="slide__text-column__heading">
          <strong class="slide__text-column__heading__sub-title">SCHÖN SIE ZU SEHEN</strong>
          <strong class="slide__text-column__heading__title">
            <span class="hidden-text">AVENCHES</span>
            <img src="/static/images/text/text-avenches.png" alt="AVENCHES" class="img-text-replacement">
          </strong>
        </h1>
        <div class="slide__text-column__text">
          <p>Dank enger Zusammenarbeit mit den Architekten Furrer Jud, trifft sich die Stadtbevölkerung wieder auf dem Marktplatz von Avenches. Unter den beleuchteten AV-Schirmen wird die Zeit dabei zur Nebensache.</p>
          <a href="#" class="btn-more btn-more--inverse">zum projekt</a>
        </div>
      </article>
      <div class="slide__info-block slide__info-block--3" data-_start_slide_5_animations-150="opacity: 0;"  data-_start_slide_5_animations-160="opacity: 1;" data-_start_slide_5-150="opacity: 1;" data-_start_slide_5-160="opacity: 0;">
        <span class="slide__info-block__info-btn"></span>
        <div class="slide__info-block__popup">
          <div class="slide__info-block__popup__container">
            <h2 class="slide__info-block__popup__title">
              DOPPELMEMBRANSCHIRM
              <strong>
                FEST IM STADTBILD VERANKERT
              </strong>
            </h2>
            <p>Ob als verbundene Dachkonstruktion oder in freiem Arrangement – unsere Doppelmembranschirme tragen mehr als beleuchtete Hightechmembrane. Zum Beispiel kulturelle Verantwortung.</p>
            <a href="#" class="btn-more-2 btn-more-2--inverse">mehr erfahren</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#" data-next-slide-position="start_slide_6" class="btn-scroll-next scroll-to-next"
    data-_end_slide_5_animations--10="opacity: 0"
    data-_end_slide_5_animations="opacity: 1"
    data-_start_slide_5="opacity: 1"
    data-_start_slide_5-10="opacity: 0"
    >smart jump</a>
  </section>

  <section class="slide slide--6" id="slide--6" data-_start_slide_5="bottom: -100%;" data-_end_slide_5--100="bottom: 0%;" data-_start_slide_6="" data-_end_slide_6="">
    <div class="content-holder">
      <article class="slide__text-column" data-_start_slide_6_animations="top: 700px;" data-_end_slide_6_animations="top: 143px;" data-_start_slide_6="top: 143px;" data-_end_slide_6="top: -1400px;">
        <h1 class="slide__text-column__heading">
          <strong class="slide__text-column__heading__sub-title">MARKENRÄUME SCHAFFEN</strong>
          <strong class="slide__text-column__heading__title">
            <span class="hidden-text">outdoor architecture</span>
            <img src="/static/images/text/text-outdoor-architecture.png" alt="outdoor architecture" class="img-text-replacement">
          </strong>
        </h1>
        <div class="slide__text-column__text">
          <p>Das exklusiv für LeShop.ch DRIVE entwickelte Design von ATELIER Oï, transportiert den besonderen Markenauftritt bis weit vor die Tore des ersten Drive-In Abholcenters in Studen. So wird das Einkaufen bei jedem Wetter zu einem exklusiven Erlebnis.</p>
          <a href="#" class="btn-more btn-more--inverse">zum projekt</a>
        </div>
      </article>
      <div class="slide__info-block" data-_start_slide_6_animations-150="opacity: 0;"  data-_start_slide_6_animations-160="opacity: 1;" data-_start_slide_6-150="opacity: 1;" data-_start_slide_6-160="opacity: 0;">
        <span class="slide__info-block__info-btn"></span>
        <div class="slide__info-block__popup">
          <div class="slide__info-block__popup__container">
            <h2 class="slide__info-block__popup__title">
              TENSILE CONSTRUCTION
              <strong>
                OUTDOOR CONCEPTS
              </strong>
            </h2>
            <p>Konfigurierbar in Print, Material und Größe, verbinden unsere Spezialanfertigungen Funktionalität mit einem prägnanten Markenauftritt.</p>
            <a href="#" class="btn-more-2 btn-more-2--inverse">mehr erfahren</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#" data-next-slide-position="start_slide_7" class="btn-scroll-next scroll-to-next"
    data-_end_slide_6_animations--10="opacity: 0"
    data-_end_slide_6_animations="opacity: 1"
    data-_start_slide_6="opacity: 1"
    data-_start_slide_6-10="opacity: 0"
    >smart jump</a>
  </section>

  <section class="slide slide--7" id="slide--7" data-_start_slide_6="bottom: -100%;" data-_end_slide_6--100="bottom: 0%;" data-_start_slide_7="" data-_end_slide_7="">
    <!-- <span class="slide__bg slide--7__slide__bg--1" data-_start_slide_7_animations="opacity: 1" data-_end_slide_7_animations="opacity: 0"></span> -->
    <div class="content-holder">
      <article class="slide__text-column" data-_start_slide_7_animations="top: 700px;" data-_end_slide_7_animations="top: 143px;" data-_start_slide_7="top: 143px;" data-_end_slide_7="top: -1400px;">
        <h1 class="slide__text-column__heading">
          <strong class="slide__text-column__heading__sub-title">ELEGANZ IM QUADRAT</strong>
          <strong class="slide__text-column__heading__title">
            <span class="hidden-text">JILLY BEACH</span>
            <img src="/static/images/text/text-jilly-beach.png" alt="JILLY BEACH" class="img-text-replacement">
          </strong>
        </h1>
        <div class="slide__text-column__text">
          <p>Nirgendwo sonst haben Menschen so hohe Ansprüche an Qualität und Ambiente, wie im Urlaub. Vielleicht ist das der Grund, weshalb Sie unsere Aluminiumschirme in den schönsten Hotels der Welt finden.</p>
          <a href="#" class="btn-more btn-more--inverse">zum projekt</a>
        </div>
      </article>
      <div class="slide__info-block slide__info-block--2" data-_start_slide_7_animations-150="opacity: 0;"  data-_start_slide_7_animations-160="opacity: 1;" data-_start_slide_7-150="opacity: 1;" data-_start_slide_7-160="opacity: 0;">
        <span class="slide__info-block__info-btn"></span>
        <div class="slide__info-block__popup">
          <div class="slide__info-block__popup__container">
            <h2 class="slide__info-block__popup__title">
              ALUMINIUMSCHIRME
              <strong>
                VERWEILE DOCH...
              </strong>
            </h2>
            <p>Besonders windstabil und Dank wartungsfreiem Getriebe jederzeit leicht zu bedienen – unsere Aluminiumschirme laden Ihre Gäste zum Bleiben ein.</p>
            <a href="#" class="btn-more-2 btn-more-2--inverse">mehr erfahren</a>
          </div>
        </div>
      </div>
    </div>
    <a href="#" data-next-slide-position="end_slide_8_animations" class="btn-scroll-next scroll-to-next"
    data-_end_slide_7_animations--10="opacity: 0"
    data-_end_slide_7_animations="opacity: 1"
    data-_start_slide_7="opacity: 1"
    data-_start_slide_7-10="opacity: 0"
    >smart jump</a>
  </section>

  <section class="slide slide--8" id="slide--8" data-_start_slide_7="bottom: -100%;" data-_end_slide_7--100="bottom: 0%;" data-_start_slide_8="" data-_end_slide_8="">
    <div class="slide__animation-container slide--8__slide__animation-container">
      <span class="slide__bg umbrella__frame--1"  data-_start_slide_8_animations="visibility[begin]: visible" data-_start_slide_8_animations-619="visibility[end]: visible" data-_start_slide_8_animations-620="visibility[begin]: hidden" data-_start_slide_8_animations-621="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--2"  data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-620="visibility[begin]: visible" data-_start_slide_8_animations-639="visibility[end]: visible" data-_start_slide_8_animations-640="visibility[begin]: hidden" data-_start_slide_8_animations-641="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--3"  data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-640="visibility[begin]: visible" data-_start_slide_8_animations-639="visibility[end]: visible" data-_start_slide_8_animations-660="visibility[begin]: hidden" data-_start_slide_8_animations-661="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--4"  data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-660="visibility[begin]: visible" data-_start_slide_8_animations-679="visibility[end]: visible" data-_start_slide_8_animations-680="visibility[begin]: hidden" data-_start_slide_8_animations-681="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--5"  data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-680="visibility[begin]: visible" data-_start_slide_8_animations-699="visibility[end]: visible" data-_start_slide_8_animations-700="visibility[begin]: hidden" data-_start_slide_8_animations-701="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--6"  data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-700="visibility[begin]: visible" data-_start_slide_8_animations-719="visibility[end]: visible" data-_start_slide_8_animations-720="visibility[begin]: hidden" data-_start_slide_8_animations-721="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--7"  data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-720="visibility[begin]: visible" data-_start_slide_8_animations-739="visibility[end]: visible" data-_start_slide_8_animations-740="visibility[begin]: hidden" data-_start_slide_8_animations-741="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--8"  data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-740="visibility[begin]: visible" data-_start_slide_8_animations-759="visibility[end]: visible" data-_start_slide_8_animations-760="visibility[begin]: hidden" data-_start_slide_8_animations-761="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--9"  data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-760="visibility[begin]: visible" data-_start_slide_8_animations-779="visibility[end]: visible" data-_start_slide_8_animations-780="visibility[begin]: hidden" data-_start_slide_8_animations-781="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--10" data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-780="visibility[begin]: visible" data-_start_slide_8_animations-799="visibility[end]: visible" data-_start_slide_8_animations-800="visibility[begin]: hidden" data-_start_slide_8_animations-801="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--11" data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-800="visibility[begin]: visible" data-_start_slide_8_animations-819="visibility[end]: visible" data-_start_slide_8_animations-820="visibility[begin]: hidden" data-_start_slide_8_animations-821="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--12" data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-820="visibility[begin]: visible" data-_start_slide_8_animations-839="visibility[end]: visible" data-_start_slide_8_animations-840="visibility[begin]: hidden" data-_start_slide_8_animations-841="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--13" data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-840="visibility[begin]: visible" data-_start_slide_8_animations-859="visibility[end]: visible" data-_start_slide_8_animations-860="visibility[begin]: hidden" data-_start_slide_8_animations-861="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--14" data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-860="visibility[begin]: visible" data-_start_slide_8_animations-879="visibility[end]: visible" data-_start_slide_8_animations-880="visibility[begin]: hidden" data-_start_slide_8_animations-881="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--15" data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-880="visibility[begin]: visible" data-_start_slide_8_animations-899="visibility[end]: visible" data-_start_slide_8_animations-900="visibility[begin]: hidden" data-_start_slide_8_animations-901="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--16" data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-900="visibility[begin]: visible" data-_start_slide_8_animations-919="visibility[end]: visible" data-_start_slide_8_animations-920="visibility[begin]: hidden" data-_start_slide_8_animations-921="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--17" data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-920="visibility[begin]: visible" data-_start_slide_8_animations-939="visibility[end]: visible" data-_start_slide_8_animations-940="visibility[begin]: hidden" data-_start_slide_8_animations-941="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--18" data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-940="visibility[begin]: visible" data-_start_slide_8_animations-959="visibility[end]: visible" data-_start_slide_8_animations-960="visibility[begin]: hidden" data-_start_slide_8_animations-961="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--19" data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-960="visibility[begin]: visible" data-_start_slide_8_animations-979="visibility[end]: visible" data-_start_slide_8_animations-980="visibility[begin]: hidden" data-_start_slide_8_animations-981="visibility[end]: hidden"></span>
      <span class="slide__bg umbrella__frame--20" data-_start_slide_8_animations="visibility[begin]: hidden" data-_start_slide_8_animations-980="visibility[begin]: visible" data-_start_slide_8_animations-999="visibility[end]: visible"></span>
    </div>
    <span class="slide__bg umbrella__frame--21" data-_start_slide_8_items_animations="opacity: 0" data-_step_2_slide_8_items_animations="opacity: 1" ></span>

    <div id="slide--8__content-holder" class="content-holder" data-_start_slide_8_animations="top: 700px;" data-_end_slide_8_animations="top: 270px;" data-_step_2_slide_8_items_animations="top: 270px;" data-_step_3_slide_8_items_animations="top: 143px;" >
      <article class="slide__text-column" data-_step_2_slide_8_items_animations="margin-top: 0px;" data-_step_3_slide_8_items_animations="margin-top: -330px;" >
        <h1 class="slide__text-column__heading">
          <strong class="slide__text-column__heading__sub-title">FREIRÄUME GESTALTEN</strong>
          <strong class="slide__text-column__heading__title">
            <span class="hidden-text">UNIQUE VARIETY PRODUCTS</span>
            <img src="/static/images/text/text-unique-variety-products.png" alt="UNIQUE VARIETY PRODUCTS" class="img-text-replacement">
          </strong>
        </h1>
        <div class="slide__text-column__text">
          <p>Bei der Entwicklung von textiler Architektur richten wir uns nach den höchsten Ansprüchen: nach Ihren.</p>
          <p>Hier finden Sie unsere wichtigsten Modelle.</p>
        </div>
      </article>
      <ul class="item-list" data-_start_slide_8_items_animations="margin-top: 120%" data-_step_2_slide_8_items_animations="margin-top: 0%" >
        <li>
          <article class="item-list__item">
            <img src="/static/images/img-01.jpg" alt="">
            <div class="item-list__item__overlay">
              <h3 class="item-list__item__title">ALUMINIUMSCHIRM</h3>
              <p>Robustheit mit Leichtigkeit – unsere Aluminiumschirme sind konzipiert für den mobilen und dauerhaften Einsatz bei Events und saisonalen Anlässen.</p>
              <a href="#" class="btn-more-2 btn-more-2--inverse btn-more-2--no-hover">mehr erfahren</a>
            </div>
          </article>
        </li>
        <li>
          <article class="item-list__item">
            <img src="/static/images/img-02.jpg" alt="">
            <div class="item-list__item__overlay">
              <h3 class="item-list__item__title">SEITENARMSCHIRM</h3>
              <p>Wandelbarkeit mit Stil – der vielfältig einsetzbare Tulpenschirm kann frei gestaltet werden: mit Beleuchtung, individuellen Drucken, Farben und sogar Duft.</p>
              <a href="#" class="btn-more-2 btn-more-2--inverse btn-more-2--no-hover">mehr erfahren</a>
            </div>
          </article>
        </li>
        <li>
          <article class="item-list__item">
            <img src="/static/images/img-03.jpg" alt="">
            <div class="item-list__item__overlay">
              <h3 class="item-list__item__title">TULPENSCHIRM</h3>
              <p>Die neue Outdoor-Freiheit: Im Verbund oder modular – mit innenliegender Beleuchtungstechnik, integrierter Regenrinne und kaschiertem Reißverschlussystem.</p>
              <a href="#" class="btn-more-2 btn-more-2--inverse btn-more-2--no-hover">mehr erfahren</a>
            </div>
          </article>
        </li>
        <li>
          <article class="item-list__item">
            <img src="/static/images/img-04.jpg" alt="">
            <div class="item-list__item__overlay">
              <h3 class="item-list__item__title">DOPPELMEMBRANSCHIRM</h3>
              <p>Ein besonderes Highlight: Dank eigens entwickeltem Schweißklebeprozess, verbindet die feststehende Konstruktion hohe Windstabilität, Design und neue erarbeitungsqualität.</p>
              <a href="#" class="btn-more-2 btn-more-2--inverse btn-more-2--no-hover">mehr erfahren</a>
            </div>
          </article>
        </li>
        <li>
          <article class="item-list__item">
            <img src="/static/images/img-05.jpg" alt="">
            <div class="item-list__item__overlay">
              <h3 class="item-list__item__title">SHADE STRUCTURES</h3>
              <p>Größe im Detail: Unzählige technische Lösungen ermöglichen membrane Architektur ohne Kompromisse – von der Materialentwicklung, über die Fertigung bis zum Au au.</p>
              <a href="#" class="btn-more-2 btn-more-2--inverse btn-more-2--no-hover">mehr erfahren</a>
            </div>
          </article>
        </li>
        <li>
          <article class="item-list__item">
            <img src="/static/images/img-06.jpg" alt="">
            <div class="item-list__item__overlay">
              <h3 class="item-list__item__title">HOLZSCHIRM</h3>
              <p>Wohlfühlgarantie bei jedem Wetter: Mit unseren robusten und bedruckbaren Schirmbars bestimmen Sie selbst, wie lange die Saison geht.</p>
              <a href="#" class="btn-more-2 btn-more-2--inverse btn-more-2--no-hover">mehr erfahren</a>
            </div>
          </article>
        </li>
        <li>
          <article class="item-list__item">
            <img src="/static/images/img-07.jpg" alt="">
            <div class="item-list__item__overlay">
              <h3 class="item-list__item__title">SCHIRMBAR</h3>
              <p>Elegante Funktionalität: Mit rostfreien Metallverbindungen. Passend zu historischen Umgebungen oder um stilvolle Akzente in moderner Architektur zu setzen.</p>
              <a href="#" class="btn-more-2 btn-more-2--inverse btn-more-2--no-hover">mehr erfahren</a>
            </div>
          </article>
        </li>
        <li>
          <article class="item-list__item">
            <img src="/static/images/img-08.jpg" alt="">
            <div class="item-list__item__overlay">
              <h3 class="item-list__item__title">MEMBRANES &amp; STRUCTURES</h3>
              <p>Robustheit mit Leichtigkeit – unsere Aluminiumschirme sind konzipiert für den mobilen und dauerhaften Einsatz bei Events und saisonalen Anlässen.</p>
              <a href="#" class="btn-more-2 btn-more-2--inverse btn-more-2--no-hover">mehr erfahren</a>
            </div>
          </article>
        </li>
      </ul>
      <a href="#" class="btn-more btn-more--inverse">ZUR PRODUKTÜBERSICHT</a>
    </div>
    <a href="#" data-next-slide-position="end_slide_8_items_animations" class="btn-scroll-next scroll-to-next"
    data-_end_slide_8_animations--20="opacity: 0"
    data-_end_slide_8_animations--10="opacity: 1"
    data-_end_slide_8_items_animations--20="opacity: 1;"
    data-_end_slide_8_items_animations--10="opacity: 0;"
    >smart jump</a>
    <a href="#" data-next-slide-position="start_slide_9" class="btn-scroll-next scroll-to-next"
    data-_end_slide_8_items_animations--20="opacity: 0;"
    data-_end_slide_8_items_animations--10="opacity: 1;"
    data-_start_slide_8="opacity: 1"
    data-_start_slide_8-10="opacity: 0"
    >smart jump</a>
  </section>

  <section class="slide slide--9" id="slide--9" data-_start_slide_8="bottom: -100%;" data-_end_slide_8--100="bottom: 0%;" data-_start_slide_9="" data-_end_slide_9="">
    <div class="content-holder">
      <h1 class="hidden-text text-from-plan-to-custom-product" data-_start_slide_9_animations="top: 70%" data-_end_slide_9_animations="top: 20%" data-_start_slide_9="top: 20%;" data-_end_slide_9="top: -80%;"> FROM PLAN TO CUSTOM PRODUCT </h1>
      <div class="slide__component-bg">
        <div class="slide__component-bg__holder">
          <div class="slide__component-bg__columns">
            <div class="slide__component-bg__right-column">
              <img src="/static/images/slide--9/bg-part-4.jpg" alt="" class="slide__component-bg__image">
              <article class="slide__component-bg__text-block">
                <p>Der Stoff aus dem Freiräume sind: Eigene Membrankollektionen, technisches Know-how und eine Entwicklungsabteilung für Leichtbau, verbinden sich bei MDT-tex zu textiler Architektur für höchste Qualitätsansprüche.</p>
                <a href="#" class="btn-more btn-more--small">MEHR ERFAHREN</a>
              </article>
            </div> 
            <div class="slide__component-bg__flexible-column">
              <div class="slide__component-bg__top-row">
                <img src="/static/images/slide--9/bg-part-1.jpg" alt="" class="slide__component-bg__image">
              </div>
              <div class="slide__component-bg__bottom-row">
                <div class="slide__component-bg__bottom-row__right-column">
                  <img src="/static/images/slide--9/bg-part-3.jpg" alt="" class="slide__component-bg__image">
                </div>
                <div class="slide__component-bg__flexible-column">
                  <img src="/static/images/slide--9/bg-part-2.jpg" alt="" class="slide__component-bg__image">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="#" data-next-slide-position="start_slide_10" class="btn-scroll-next btn-scroll-next-inverse scroll-to-next"
    data-0="opacity: 0" data-_end_slide_9_animations--10="opacity: 0"
    data-_end_slide_9_animations="opacity: 1"
    data-_start_slide_9="opacity: 1"
    data-_start_slide_9-10="opacity: 0"
    >smart jump</a>
  </section>

  <section class="slide slide--10" id="slide--10" data-_start_slide_9="bottom: -100%;" data-_end_slide_9--100="bottom: 0%;" data-_start_slide_10="bottom: 0%;" data-_end_slide_10="bottom: 110%;" data-_start_slide_11="" data-_end_slide_11="">
    <div class="content-holder">
      <h1 class="text-bg text-at-home">
        at home and outside
        <span class="text-frame text-at-home__frame--2" data-_start_slide_9="background-position: 50% 200%;" data-_end_slide_9--200="background-position: 50% 42%;" data-_slide_10_text_out_step_1="opacity: 1"  data-_slide_10_text_out_step_1-150="opacity: 0"></span>
        <span class="text-frame text-at-home__frame--3" data-_start_slide_9="background-position: 50% 200%;" data-_end_slide_9--200="background-position: 50% 42%;" data-_slide_10_text_out_step_2="opacity: 1"  data-_slide_10_text_out_step_2-150="opacity: 0"></span>
        <span class="text-frame text-at-home__frame--4" data-_start_slide_9="background-position: 50% 200%;" data-_end_slide_9--200="background-position: 50% 42%;" data-_slide_10_text_out_step_3="opacity: 1"  data-_slide_10_text_out_step_3-150="opacity: 0"></span>
        <span class="text-frame text-at-home__frame--5" data-_start_slide_9="background-position: 50% 200%;" data-_end_slide_9--200="background-position: 50% 42%;" data-_slide_10_text_out_step_4="opacity: 1"  data-_slide_10_text_out_step_4-150="opacity: 0"></span>
        <span class="text-frame text-at-home__frame--6" data-_start_slide_9="background-position: 50% 200%;" data-_end_slide_9--200="background-position: 50% 42%;" data-_slide_10_text_out_step_5="opacity: 1"  data-_slide_10_text_out_step_5-150="opacity: 0"></span>
        <span class="text-frame text-at-home__frame--7" data-_start_slide_9="background-position: 50% 200%;" data-_end_slide_9--200="background-position: 50% 42%;" data-_slide_10_text_out_step_6="opacity: 1"  data-_slide_10_text_out_step_6-150="opacity: 0"></span>
      </h1>
    </div>
    <a href="#" data-next-slide-position="start_slide_11_animations" class="btn-scroll-next scroll-to-next"
    data-_end_slide_9--100="opacity: 0"
    data-_end_slide_9--90="opacity: 1"
    data-_start_slide_10="opacity: 1"
    data-_start_slide_10-10="opacity: 0"
    >smart jump</a>
  </section>

  <section class="slide slide--11" id="slide--11" data-_start_slide_11="bottom: 0%;" data-_end_slide_11="">
    <span class="decor slide--11__decor--1" data-_start_slide_11_animations="top: -20%" data-_end_slide_11_animations="top: 21%"></span>
    <div class="content-holder">
      <h1 class="text-bg text-at-home">
        at home and outside
        <span class="text-frame text-at-home__frame--1" data-_start_slide_11_animations="background-position: 50% 42%;" data-_end_slide_11_animations="background-position: 50% -100%;"></span>
      </h1>
      <article class="slide__text-column" data-_start_slide_11_animations="top: 1400px" data-_end_slide_11_animations="top: 270px;" data-_start_slide_11="top: 270px;" data-_end_slide_11="top: -1400px;">
        <h1 class="slide__text-column__heading">
          <strong class="slide__text-column__heading__sub-title">AUFSPANNEN. ENTSPANNEN.</strong>
          <strong class="slide__text-column__heading__title">
            <span class="hidden-text">home collection</span>
            <img src="/static/images/text/text-home-collection.png" alt="home collection" class="img-text-replacement">
          </strong>
        </h1>
        <div class="slide__text-column__text">
          <p>Genießen Sie Ihren persönlichen Freiraum. Wir richten ihn so ein, dass Sie sich immer darin wohlfühlen. Mit unseren Basismodellen, oder individuellen Sonderanfertigungen.</p>
          <a href="#" class="btn-more btn-more--inverse">zum shop</a>
        </div>
      </article>
    </div>
    <a href="#" data-next-slide-position="start_slide_11" class="btn-scroll-next scroll-to-next"
    data-_start_slide_11_animations--50="opacity: 0"
    data-_start_slide_11_animations--40="opacity: 1"
    data-_start_slide_11_animations-40="opacity: 1"
    data-_start_slide_11_animations-50="opacity: 0"
    >smart jump</a>
    <a href="#" data-next-slide-position="end_slide_12_animations" class="btn-scroll-next scroll-to-next"
    data-_end_slide_11_animations--10="opacity: 0"
    data-_start_slide_11_animations="opacity: 1"
    data-_start_slide_11="opacity: 1"
    data-_start_slide_11-10="opacity: 0"
    >smart jump</a>
    <!-- <a href="#" data-next-slide-position="end_slide_12_animations" class="btn-scroll-next scroll-to-next">smart jump</a> -->
  </section>

  <section class="slide slide--12" id="slide--12" data-_start_slide_11="bottom: -100%;" data-_end_slide_11--100="bottom: 0%;" data-_start_slide_12="" data-_end_slide_12="">
    <div class="content-holder"  data-_start_slide_12_animations="top: 600px;" data-_end_slide_12_animations="top: 205px;">
      <div class="slide__one-half">
        <article class="news-block">
          <h1 class="news-block__heading">
            <span class="news-block__title news-block__logo">NEWS &amp; EVENTS</span>
            <strong class="news-block__sub-title">KENNENLERNEN IN OFFENER ATMOSPHÄRE</strong>
          </h1>
          <p>Nicht nur unsere Schirme umspannen die Welt. Auch wir, die Menschen, die täglich ihr ganzes Know-how und Herzblut für MDT-tex geben, sind auf den wichtigsten Messen und Events weltweit vertreten. Kommen Sie doch mal vorbei. Auf ein Wort. Oder einen Blick. Denn alles, was Sie hier lesen, kann niemals das Gefühl ersetzen, echte Freiräume textiler Architektur zu genießen. Wir freuen uns auf Sie.</p>
          <a href="#" class="btn-more-2">ALLE NEWS &amp; EVENTS ANZEIGEN</a>
        </article>
      </div>
      <div class="slide__one-half">
        <ul class="news-list item-list-2">
          <li>
            <em class="news-list__date">16.09.2013</em>
            <div class="news-list__text-column">
              <a href="#" class="news-list__title">Lorem ipsum</a>
            </div>
          </li>
          <li>
            <em class="news-list__date">15.05.2013</em>
            <div class="news-list__text-column">
              <a href="#" class="news-list__title">Lorem ipsum dolor sit amet</a>
            </div>
          </li>
          <li>
            <em class="news-list__date">13.05.2013</em>
            <div class="news-list__text-column">
              <a href="#" class="news-list__title">Lorem ipsum</a>
            </div>
          </li>
          <li>
            <em class="news-list__date">27.04.2013</em>
            <div class="news-list__text-column">
              <a href="#" class="news-list__title">Lorem ipsum dolor sit amet</a>
            </div>
          </li>
          <li>
            <em class="news-list__date">21.02.2013</em>
            <div class="news-list__text-column">
              <a href="#" class="news-list__title">Lorem ipsum dolor sit amet</a>
              <div class="news-list__text-block">
                <p>„mcbw momente – denkräume für design“</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <a href="#" data-next-slide-position="start_slide_1" class="btn-scroll-next btn-scroll-top scroll-to-next">smart jump</a>
  </section>

  <div class="intro-progress">
    <div class="intro-progress__progress" data-start="right: 100%;" data-end="right: 0%"></div>
  </div>
{% endblock %}
