<header class="header">
	<div class="content-holder">
		<div class="grid grid--full">
			<div class="grid__item">
				<div class="header__panel" data-1="height: 20px;" data-10="height: 0;">
					<div class="language-select">
						<span>de</span>
						<ul class="language-select__drop">
							<li><a href="#">en</a></li>
						</ul>
					</div>
					<a href="#" class="login-link header__panel__link">Kunden-Login</a>
					<a href="#" class="cart-link header__panel__link">WAREnKORB <span class="cart-link__count">(0)</span></a>
				</div>
				<div class="header__bar" data-0="padding: 34px 0 0;" data-10="padding: 10px 0 0;">
					<strong class="logo" data-0="height: 56px; margin: -32px 0 0;" data-10="height: 28px; margin: -3px 0 0;">
						<a class="scroll-to-next" data-next-slide-position="start_slide_1" href="#">MDT-tex &reg; Membranes &amp; Structures</a>
					</strong>
					<!-- <form action="#" class="search-form">
						<fieldset>
							<input class="search-form__submit" type="submit" value="Search">
							<div class="search-form__text-input">
								<input type="text">
							</div>
						</fieldset>
					</form> -->
					<nav class="nav">
						<ul class="nav__list">
							<li class="nav__list__item"><a href="#">unternehmen</a></li>
							<li class="nav__list__item"><a href="#">Textile Architektur</a></li>
							<li class="nav__list__item"><a href="#">Produkte</a></li>
							<li class="nav__list__item"><a href="#">Referenzen</a></li>
							<li class="nav__list__item"><a href="#">Shop</a></li>
							<li class="nav__list__item"><a href="#">Kontakt</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
</header>
